# my custom files
venv
testings.ipynb
app/templates/*copy*
app/routes/*copy*
app/static/css/*copy*
app/static/js/*copy*


# Ignore .env file containing sensitive data
.env

# Python-related files
*.pyc
*.pyo
*.pyd
__pycache__/

# Virtual environment directories
venv/
env/

# IDEs and editor settings
.vscode/
.idea/

# Docker-related
Dockerfile*
.dockerignore

paymongo