# my custom files
venv
testings.ipynb
app/templates/*copy*
app/routes/*copy*
app/static/css/*copy*
app/static/js/*copy*
app/forms/*copy*
app/tests
advpos.zip
.ebextensions/app.config
app/*copy*
app/static/css/style-*
app/static/js/*scripts *
my_ec2_server_scripts.md

# Ignore .env file containing sensitive data
.env

# Python-related files
*.pyc
*.pyo
*.pyd
__pycache__/

# Virtual environment directories
venv/
env/

# IDEs and editor settings
.vscode/
.idea/

# Docker-related
Dockerfile*
.dockerignore

paymongo
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
