Resources:
  AWSEBAutoScalingGroup:
    Type: AWS::AutoScaling::AutoScalingGroup
    Properties:
      MinSize: 1
      MaxSize: 3
      LaunchTemplate:
        LaunchTemplateName: my_launch_template
        Version: 1
      VPCZoneIdentifier:
        - subnet-0a145d965d2b27fe2
        - subnet-01d9e63236a71140f
        - subnet-03fb5101dc036418f

