{% extends "layout.html" %}

{% block content %}
<div class="container-bills_planners">
    <!-- <div class="row"> -->
        <!-- Add New Order Form -->
        <!-- <div class="col-md-6"> -->
            <form class="form-group" method="POST" action="{{ url_for('bills_blueprint.bills_planners_add') }}">
                <!-- Bills Section -->
                {% for field in form.bills %}
                <div class="mb-3" id="customer-form">
                    <select name="{{ field.name }}" id="{{ field.id }}" class="form-control">
                        {% for value, label in field.choices %}
                            <option value="{{ value }}">{{ label }}</option>
                        {% endfor %}
                    </select>
                </div>
                {% endfor %}
                <input type="hidden" name="bills" id="bills-input" />
                
                <!-- Submit Order Button -->
                <button type="submit" class="btn btn-primary mt-3">Save Order</button>
                <a href="{{ url_for('bills_blueprint.bills_planners_add') }}" class="btn btn-secondary mt-3">Cancel</a>
            </form>
        <!-- </div> -->
    <!-- </div> -->
</div>
{% endblock %}
