{% extends "layout.html" %}

{% block content %}
<div class="container mt-4">
    <div class="row">
        <!-- Records Records Container -->
        <div class="col-md-6 cogs-cogs">
            <h5>Cost of Goods Records</h5>
            <table class="table">
                <thead>
                    <tr>
                        {% if cogs_records %}
                            {% for key in cogs_records[0].keys() %}
                                <!-- {{ key }} -->
                                {% if  key != "_id" and key != "date_inserted" %}
                                    <th>{{ key.replace('_', ' ') | capitalize }}</th>
                                {% endif %}
                            {% endfor %}
                        {% else %}
                            <th>No Data Available</th>
                        {% endif %}
                    </tr>
                </thead>
                <tbody>
                    {% if cogs_records %}
                        {% for cogs in cogs_records %}
                                <tr>
                                    {% for key, value in cogs.items() %}
                                        {% if key != "_id" and key != "date_inserted" %}
                                            {% if value == None %}
                                                {% if key == "date_updated" %}
                                                    <td>{{ value.strftime("%Y-m%-%d") }}</td>
                                                {% endif %}
                                            {% else %}
                                                <td>{{ value }}</td>
                                            {% endif %}
                                        {% endif %}                                     
                                    {% endfor %}
                                </tr>
                        {% endfor %}
                    {% else %}
                        <tr>
                            <td colspan="7">No records found.</td>
                        </tr>
                    {% endif %}
                </tbody>
            </table>
        </div>

        <!-- Add Cost of Goods Form Container -->
        <div class="col-md-4 add-new-cogs">
            <h5 class="mt-5">Add New Cost of Goods</h5>
            <form method="POST" action="{{ url_for('cogs_blueprint.cogs_add') }}">
                {{ form.hidden_tag() }}
                {% for field in form %}
                    {% if field.name != "submit" and field.name != 'csrf_token' %}
                    <div class="mb-3">    
                        <label for="{{ field.id }}" class="form-label">{{ field.label }}</label>
                        {{ field(class="form-control")}}
                    </div>
                        
                        {% if field.errors %}
                            <div class="text-danger">
                                {% for error in field.errors %}
                                    <p>{{ error }}</p>
                                {% endfor %}
                            </div>
                        {% endif %}
                    {% endif %}
                {% endfor %}
               <!-- <div class="form-group"> -->
                    {{ form.submit(class="btn btn-primary") }}
                    <a href="{{ url_for('cogs_blueprint.cogs_records') }}" class="btn btn-secondary">Cancel</a>
                <!-- </div> -->
            </form>
        </div>
    </div>
</div>
{% endblock %}
