{% extends "layout.html" %}
{% block content %}
    <div class="container-dashboard">
        <div class="row justify-content-center">
            <!-- First Row of Cards -->
            <div class="col-md-2 mb-4">
                <div class="card h-100">
                    <a href=" {{ url_for('orders_blueprint.orders') }} " class="card-link">
                        <h3 class="card-header text-center">Total Sales</h3>
                        <p class="card-body text-center">{{ total_orders|currency }}</p>    
                    </a>
                </div>
            </div>
            <div class="col-md-2 mb-4">
                <div class="card h-100">
                    <a href=" {{ url_for('orders_blueprint.orders') }} " class="card-link">
                        <h3 class="card-header text-center">Total Sales Count</h3>
                        <p class="card-body text-center">{{ total_orders_quantity }}</p>    
                    </a>
                </div>
            </div>
            <div class="col-md-2 mb-4">
                <div class="card h-100">
                    <a href=" {{ url_for('products_blueprint.products') }} " class="card-link">
                        <h3 class="card-header text-center">Total Products</h3>
                        <p class="card-body text-center">{{ total_products }}</p>
                    </a>
                </div>
            </div>
        </div>

        <div class="row justify-content-center">
            <!-- Second Row of Cards -->
            <div class="col-md-2 mb-4">
                <div class="card h-100">
                    <a href=" {{ url_for('cogs_blueprint.cogs_records') }} " class="card-link">
                        <h3 class="card-header text-center">Total Cost of Goods</h3>
                        <p class="card-body text-center">{{ total_cogs|currency }}</p>
                    </a>
                </div>
            </div>
            <div class="col-md-2 mb-4">
                <div class="card h-100">
                    <a href=" {{ url_for('orders_blueprint.orders') }} " class="card-link">
                        <h3 class="card-header text-center">Total Revenue</h3>
                        <p class="card-body text-center">{{ revenue|currency }}</p>
                    </a>
                </div>
            </div>
            <div class="col-md-2 mb-4">
                <div class="card h-100">
                    <a href=" {{ url_for('orders_blueprint.orders') }} " class="card-link">
                        <h3 class="card-header text-center">ROI</h3>
                        <p class="card-body text-center">%{{ roi|round(2) }}</p>
                    </a>
                </div>
            </div>
        </div>

        <div class="container-charts mt-5 text-center">
            <h5>Placeholder for charts</h5>
        </div>
    </div>
{% endblock %}
