{% extends "layout.html" %}
{% block content %}
    <div class="container-dashboard">
        <div class="row">
            <div class="container-cards">
                <div class="card" style="width: 10rem; height: 10rem;">
                    <a href=" {{ url_for('orders_blueprint.orders') }} " class="card-link">
                        <h3>Total Sales</h3>
                        <p>{{ total_orders|currency }}</p>    
                    </a>
                </div>
                <div class="card" style="width: 10rem; height: 10rem;">
                    <a href=" {{ url_for('orders_blueprint.orders') }} " class="card-link">
                        <h3>Total Sales Count</h3>
                        <p>{{ total_orders_quantity }}</p>    
                    </a>
                </div>
                <div class="card" style="width: 10rem; height: 10rem;">
                    <a href=" {{ url_for('products_blueprint.products') }} " class="card-link">
                        <h3>Total Products</h3>
                        <p>{{ total_products }}</p>
                    </a>
                </div>
                <div class="card" style="width: 10rem; height: 10rem;">
                    <a href=" {{ url_for('cogs_blueprint.cogs_records') }} " class="card-link">
                        <h3>Total Cost of Goods</h3>
                        <p>{{ total_cogs|currency }}</p>
                    </a>
                </div>
                <div class="card" style="width: 10rem; height: 10rem;">
                    <a href=" {{ url_for('orders_blueprint.orders') }} " class="card-link">
                        <h3>Total Revenue</h3>
                        <p>{{ revenue|currency }}</p>
                    </a>
                </div>
                <div class="card" style="width: 10rem; height: 10rem;">
                    <a href=" {{ url_for('orders_blueprint.orders') }} " class="card-link">
                        <h3>ROI</h3>
                        <p>%{{ roi|round(2) }}</p>
                    </a>
                </div>
            </div>
            <div class="container-charts">
                <h5>Placeholder for charts</h5>
            </div>
        </div>
    </div>
{% endblock %}

